
.input {
  @apply
  bg-transparent
  border-0
  border-b-2
  border-[#344B69]
  p-1
  focus:outline-none
  text-white
}

.label {
  @apply
  text-[#02A3CC]
}

.button {
  @apply
  w-full
  h-8 
  bg-[#02A3CC] 
  text-white 
  font-sans 
  text-xl
}

::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  border-radius: 16px;
}

/* Estilo do polegar (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Cor do polegar */
  border-radius: 8px; /* Arredondamento do polegar */
}

/* Estilo da faixa (track) da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #cbd5e0; /* Cor da faixa */
  border-radius: 8px;
  padding-left: 10px;
  margin-left: 10px;
}